section {
    background-color: #F5F5F5;
    min-height: 100vh;
    display: flex;
}

.nav {
    flex: 1.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: black;
    width: 280px;
    height: 93%;
    border-radius: 30px;
    display: flex;
    transition: transform 0.3s ease;
}

.brand {
    flex: 2;
    display: flex;
    align-items: center;
}

.brand h1 {
    font-size: 36px;
}

.links {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.link {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
}

.link:hover {
    cursor: pointer;
}

.link:hover p {
    font-weight: 700;
}

.link p {
    margin-left: 8%;
    font-size: 18px;
    transition: 0.5s;
}

.active {
    font-weight: 700;
}

.meta {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meta p {
    font-size: 14px;
    margin-top: 6%;
}

.page {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0.75;
    display: flex;
    color: black;
}

.header h1 {
    font-size: 24px;
}

.bar {
    width: 180px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.bar input {
    background-color: white;
    color: black;
    border-width: 0px;
    width: 100%;
    outline: none;
    font-size: 14px;
}

.mobile {
    display: none;
    margin-right: 5%;
    align-items: center;
}

.component {
    flex: 11;
}

@media (max-width: 1500px) {
    /* Mobile view */
    .nav {
        flex: 0.3;
    }

    .mobile {
        display: flex;
    }

    .bar {
        display: none;
    }

    .navbar {
      position: fixed;
      left: -280px; /* Move the navbar off-screen by default */
      transform: translateX(0);
      z-index: 100;
    }
  
    .navbar.visible {
      transform: translateX(290px); /* Slide the navbar into view */
    }
  }