.dashboard {
    flex: 1;
    display: flex;
    height: 95%;
    width: 95%;
    flex-direction: column;
}

.cards {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cards .container {
    width: 90%;
    display: flex;
}

.chart {
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart .legend {
    display: flex;
    height: 40%;
    width: 10%;
    margin-right: 7%;
    align-items: center;
    justify-content: flex-end;
}

.chart .legend p {
    font-size: 14px;
}

.chart .container {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: black;
}

.chart .container h3 {
    font-size: 25px;
    margin-bottom: 1%;
}

.chart .container p {
    font-size: 14px;
    color: #858585;
}

.chart .header {
    flex: 5;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.chart .legends {
    flex: 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.details {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .responsive { 
    width: 94%;
    height: 100%; 
    display: flex
}

.details .schedulecontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    width: 90%;
    height: 95%;
    background-color: white;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.detail .header {
    flex: 1;
    display: flex;
}

.detail .label {
    flex: 5;
    display: flex;
    align-items: flex-end;
}

.detail .filter {
    flex: 5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.detail h3 {
    font-size: 18px;
}

.detail p {
    font-size: 12px;
    color: #858585;
}

.products {
    flex: 1;
    display: flex;
}

.products .pie {
    height: 80%;
    width: 90%;
}

.products .legends {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.products .legends .one {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.products .legends .two {
    flex: 1;
    display: flex;
}

.products .legends .placeholder {
    flex: 0.4
}

.products .legend {
    flex: 1;
    display: flex;
}

.products .legend h4 {
    font-size: 14px;
}

.products .legend .icon  {
    margin-top: 20%;
}

.schedule {
    flex: 1;
    display: flex;
}

.schedule .border {
    flex: 0.4;
    display: flex;
    align-items: center;
}

.schedule .text {
    flex: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schedule .text p {
    font-size: 12px;
}

.schedule .text h6 {
    font-weight: 500;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: black black transparent;
    margin-top: 20%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent grey grey;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
      
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      
@media only screen and (max-width: 1000px) {

    
    .dashboard {
        overflow-y: hidden;
    }

    .dashboard .cards {
        min-height: 600px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .dashboard .cards .container {
        flex-direction: column;
    }

    .chart .container {
        min-height: 300px;
    }
    
    .chart .header {
        justify-content: center;
        flex: 5;
    }

    .chart .legends {
        flex-direction: column;
    }

    .details {
        min-height: 800px;
    }

    .detail {
        min-height: 200px;
        margin-top: 50px;
    }
    .detail .header {
        flex-direction: column;
    }
    .detail .label {
        align-items: center;
        justify-content: center;
    }

    .detail .filter {
        align-items: center;
        justify-content: center;
    }

    .details .responsive {
        flex-direction: column;
    }

    .chart .legend {
        margin-right: 10%;
    }

    .products {
        flex-direction: column;
    }

    .products .pie {
        height: 90%;
        width: 100%
    }

    .products .legends .placeholder {
        flex: 0.8
    }

    .products .legends {
        flex-direction: row;
    }
    
    .products .legend .icon  {
        margin-top: 25%;
    }

}